# Used only when running with --spring.profiles.active=free-cloud
# Get these by creating free accounts (see README "Free-tier setup").
SPRING_PROFILES_ACTIVE=free-cloud
SUPABASE_DB_URL=jdbc:postgresql://db.ovlfcstefbxwkcvvafkg.supabase.co:5432/postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=NoWaito@9025

UPSTASH_REDIS_HOST=liberal-bullfrog-181974.upstash.io
UPSTASH_REDIS_PORT=6379
UPSTASH_REDIS_PASSWORD=gQAAAAAAAsbWAAIgcDI2NzJjMzQ4MWMzZDI0NWQ3YWEwMzQxMGExNmExZGFhOA

RAZORPAY_KEY_ID=rzp_test_TF1zJGv6OB2bmJ
RAZORPAY_KEY_SECRET=7fzl9D4yCzk3oG6g8cHqz0yK

JWT_SECRET=4B2nwr5xqoN/q9Hjs1O2Z+m6Fx0nCDK4EHCXs+dB+Ox2YAjLp/xbgiRI08biZbQOt4UE5e310T0Ph9rK/W1ROw==
